<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>

    <main id="maincontent" role="main" class="flex-shrink-0">
      
      <div class="d-flex">
          <div class="sidebar bg-light border-end p-0 collapsed" id="sidebar">
              <button class="toggle-btn" id="toggle-sidebar">
                  <i class="bi bi-chevron-left"></i>
              </button>
              <div class="nav flex-column">
                  <a href="#" class="nav-link">
                      <i class="bi bi-book"></i>
                      <span class="menu-text">Course Reserves</span>
                  </a>
                  <a href="{{ '/digital-collections.html' | relative_url }}" class="nav-link">
                      <i class="bi bi-collection"></i>
                      <span class="menu-text">Digital Collections</span>
                  </a>
                  <a href="#" class="nav-link">
                      <i class="bi bi-journal-richtext"></i>
                      <span class="menu-text">Electronic Resources</span>
                  </a>
                  <a href="{{ '/gis.html' | relative_url }}" class="nav-link">
                      <i class="bi bi-globe"></i>
                      <span class="menu-text">Geographic Information Systems</span>
                  </a>
                  <a href="#" class="nav-link">
                      <i class="bi bi-search"></i>
                      <span class="menu-text">Online Catalog</span>
                  </a>
                  <a href="#" class="nav-link">
                      <i class="bi bi-box-seam"></i>
                      <span class="menu-text">Physical Circulation</span>
                  </a>
                  <a href="#" class="nav-link">
                      <i class="bi bi-diagram-3"></i>
                      <span class="menu-text">Research Information Management</span>
                  </a>
                  <a href="#" class="nav-link">
                      <i class="bi bi-archive"></i>
                      <span class="menu-text">Special Collections & Archives</span>
                  </a>
                  <a href="#" class="nav-link">
                      <i class="bi bi-globe2"></i>
                      <span class="menu-text">Web Properties</span>
                  </a>
                  <a href="#" class="nav-link">
                      <i class="bi bi-building"></i>
                      <span class="menu-text">Building Usage</span>
                  </a>
                  <a href="#" class="nav-link">
                      <i class="bi bi-award"></i>
                      <span class="menu-text">Fellowships</span>
                  </a>
                  <a href="{{ '/instruction.html' | relative_url }}" class="nav-link">
                      <i class="bi bi-mortarboard"></i>
                      <span class="menu-text">Instruction</span>
                  </a>
                  <a href="#" class="nav-link">
                      <i class="bi bi-journal-text"></i>
                      <span class="menu-text">Open Publishing</span>
                  </a>
                  <a href="#" class="nav-link">
                      <i class="bi bi-question-circle"></i>
                      <span class="menu-text">Research and Reference Assistance</span>
                  </a>
                  <a href="#" class="nav-link">
                      <i class="bi bi-people"></i>
                      <span class="menu-text">Collaboration</span>
                  </a>
                  <a href="#" class="nav-link">
                      <i class="bi bi-person-workspace"></i>
                      <span class="menu-text">Student Employment</span>
                  </a>
                  <a href="#" class="nav-link">
                      <i class="bi bi-piggy-bank"></i>
                      <span class="menu-text">Student Savings</span>
                  </a>
                  <a href="#" class="nav-link">
                      <i class="bi bi-easel"></i>
                      <span class="menu-text">Workshops and Presentations</span>
                  </a>
              </div>
          </div>
          <div class="content p-4">
            {% include collection-banner.html %}
              {{ content }}
          </div>
      </div>
      



    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>